@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>İş Başvuru Formu</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">İsim</label>
            <div class="col-md-4">
                <input id="name" name="name" type="text" placeholder="İsim" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="surname">Soyisim</label>
            <div class="col-md-4">
                <input id="surname" name="surname" type="text" placeholder="Soyisim" class="form-control input-md">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="coverletter">Önyazı</label>
            <div class="col-md-4">
                <textarea class="form-control" id="coverletter" name="coverletter">Karşı tarafı ikna edici bir şeyler yazın.</textarea>
            </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cv">CV</label>
            <div class="col-md-4">
                <input id="cv" name="cv" class="input-file" type="file">
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="onayla">Onayla</label>
            <div class="col-md-4">
                <input type="submit" id="onayla" name="onayla" class="btn btn-primary">
            </div>
        </div>

    </fieldset>
</form>