@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form class="form-horizontal" asp-action="IsilaniEnter" asp-controller="Home" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>İş İlanı Giriş Formu</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="sirketismi">Şirket İsmi</label>
            <div class="col-md-4">
                <input id="company" name="sirketismi" type="text" placeholder="Şirket İsmi" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lokasyon">Lokasyon</label>
            <div class="col-md-4">
                <input id="location" name="lokasyon" type="text" placeholder="Lokasyon" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="pozisyon">Pozisyon</label>
            <div class="col-md-4">
                <input id="position" name="pozisyon" type="text" placeholder="Pozisyon" class="form-control input-md">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="deneyim">Deneyim</label>
            <div class="col-md-4">
                <input id="experience" name="deneyim" type="text" placeholder="Junior-Mid-Senior" class="form-control input-md">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="aciklama">Açıklama</label>
            <div class="col-md-4">
                <textarea class="form-control" id="textarea" name="aciklama"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit">Onaya Gönder</label>
            <div class="col-md-4">
                <input type="submit" id="submit" name="submit" class="btn btn-primary">
            </div>
        </div>

    </fieldset>
</form>

